*{
    margin: 0;
    padding: 10px;
}
body{
    background: url(/Survey-Form/images/sun-2017536_640.jpg); 
    background-size: cover;
    background-attachment:fixed;
}
    .heading {
    text-align: center;
    width:"850";
    margin: auto;
    margin-top: 100px;
    background-color: rgba(242, 187, 99, 0.012);
    }
    .head {
    font-size: 3.8cm;
    }
    .subheading {
        font-size: 20px;
        margin-top: 5px;

    }
    .info {
        margin: auto;
        width: "35";
        height: "2";
        position: relative;
        bottom: 18px;
    }
    form {
        background-color: rgba(242, 239, 237, 0.329);
        padding-top: 34px;
        align-items: center;
        display: flex; justify-content: center;
        width: "600";
        height: "100";
        border-radius: 10px;
        margin: auto;
        margin-top: 10px;
        padding-bottom: 30px;
    }
    form .box {
        width: "98" ;
        height: "300";
        position: relative;
        bottom: 150%;
        border: 10px;
        border-radius: 10px;
    }
    
    .questions select {
        width: "98.5";
        height: "50";
        position: center;
        bottom: 17px;
        border-radius: 10px;
        border: 10px;
    }

.head2 select{
    width: "98.5";
    height: "2.7";
    position: center;
    bottom: 10px;
    border-radius: 10px;
    border: 10px;
}
    button {
        width: "20";
        height: "30";
        position: relative;
        top: 50px;
        background-color: rgb(49, 56, 55);
        color: rgb(19, 19, 20);
        margin: bottom 10px;
        cursor: pointer;
        border-radius: 10px; 
    }
    
    
footer {
    background-color: rgba(85, 83, 83, 0.428);
    text-align:center;
    padding: 10px;
    border-radius: 10px;
}