body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px;
  }
  
  header {
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
  }
  
  header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  h1,
  h2 {
    color: #333;
  }
  
  section {
    margin: 20px;
  }
  
  .project {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    margin: 10px;
    text-align: center;
    line-height: 200px;
  }
  
  #bio,
  #work {
    background-color: #e9e9e9;
    padding: 15px;
  }